.Mesa{
	   background-color: #15CC24;
      width: 100px;
      height: 100px;
      border: 3px solid #555;  
      border-radius: 20px;
}

#Mesa1{
      position: relative;
      top: 5px
}

#Mesa2{
	   position: relative;
	   left: 120px;
	   bottom: 100px;
}

#Mesa3{
	   position: relative;
	   left: 240px;
	   bottom: 206px;

}

#Mesa4{
     position: relative;
     bottom: 180px;
     
     
}

#Mesa5{
	   position: relative;
	   bottom: 287px;
	   left: 120px;   
}

#Mesa6{
     position: relative;
     bottom: 393px;
     left: 240px;
}

#Mesa7{
     position: relative;
     bottom: 630px;
     left:360px;
}
   
    #Mesa8{
    	position: relative;
    	bottom: 475px;
    	
    
    }
   
   
   
   
   
   
   
 